{
	"identifier" = "oolite.oxp.cim.sotw.main";
	"required_oolite_version" = "1.81";
	"title" = "Song of the Witch";
	"version" = "0.1";
	"category" = "Systems";
	"description" = "Song of the Witch is an alternative universe running under the Oolite engine. This is the main data package.

The setting is similar to the original Oolite setting, but provides more detail in the politics, economy and history of the region, and is of a set of charts which have been inhabited for less time - many systems are still unsettled or only lightly populated.";
	"author" = "cim";
	"license" = "CC-BY-SA 4.0";
}