{
	"witch-to-x-in-y-seconds" = "";
	"witch-no-fuel" = "Insufficient fuel to initiate hyperspace jump";
	"witch-too-far" = "Hyperspace destination out of range";

	"sysdata-eco" = "Mineral wealth:";
	"sysdata-govt" = "Habitability:";
	"sysdata-tl" = "Known bodies:";
	"sysdata-pop" = "Active Survey:";
	"sysdata-pop-value" = "[inhabitants]\n";
	"sysdata-prod" = "";
	"sysdata-prod-value" = "";
	"sysdata-radius" = "";
	"sysdata-radius-value" = "";
	
	"status-legal-status" = "Operational Status:";
	"status-rating" = "Mission Status:";

	legal_status = (
		"Active",
		"Probationary",
		"Suspended"
	);

	rating = (
		"Experimental", //0
		"Prototype Studies", //8
		"Preliminary Testing", //16
		"Trials Approved", //32
		"Trial Phase I", //64
		"Trial Phase II", //128
		"Mission Approved", //512
		"Mission Phase I", //2880
		"Mission Complete" //6400
	);
}