{
	crosshair_scale		= 32.0;
	crosshair_width		= 1.5;
	crosshair_color		= "greenColor";
	dials			= //these are drawn, in order, after the legends
	(
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawCustomIndicator:";
			data_source = "sotl_exp_hyp_roll_required";
			color = "greenColor";
			color_surround = "yellowColor";
			draw_surround = 1;
			height = 16;
			width = 112;
			viewscreen_only = 1;
			x = 0;
			y = -72;
		},
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawRollBar:";
			color = "yellowColor";
			draw_surround = 0;
			height = 16;
			width = 112;
			viewscreen_only = 1;
			x = 0;
			y = -72;
		},
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawCustomIndicator:";
			data_source = "sotl_exp_hyp_pitch_required";
			color = "greenColor";
			color_surround = "yellowColor";
			draw_surround = 1;
			height = 112;
			width = 16;
			viewscreen_only = 1;
			x = -72;
			y = 0;
		},
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawPitchBar:";
			color = "yellowColor";
			draw_surround = 0;
			height = 112;
			width = 16;
			viewscreen_only = 1;
			x = -72;
			y = 0;
		},
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawCustomLight:";
			data_source = "sotl_exp_hyp_status";
			height = 64;
			width = 64;
			x = 0;
			y = 0;
			viewscreen_only = 1;
			alpha = 0.65;
		},
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			labelled = no;
			selector = "drawEnergyGauge:";
			color = "yellowColor";
			color_surround = "yellowColor";
			color_low = "redColor";
			color_medium = "orangeColor";
			draw_surround = 1;
			height = 112;
			width = 16;
			viewscreen_only = 1;
			x = 72;
			y = 0;
		},
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawCustomBar:";
			data_source = "sotl_exp_hyp_progress";
			color_surround = "yellowColor";
			color_low = "0.75 0 0";
			color_medium = "0.5 0.5 0";
			color_high = "0 0.75 0";
			draw_surround = 1;
			height = 16;
			width = 112;
			viewscreen_only = 1;
			x = 0;
			y = 72;
		},
		{
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawCustomText:";
			data_source = "sotl_exp_hyp_progresstext";
			color = "whiteColor";
			height = 16;
			width = 16;
			viewscreen_only = 1;
			x = -56;
			y = 62;
		},
		{   
			equipment_required = "EQ_SOTL_EXP_HYPERSPACEJUMP";
			selector = "drawWitchspaceDestination:";
			height = 16;
			width = 16;
			viewscreen_only = 1;
			y = 84;
			x = -56;
			color = "whiteColor";
		},

		/* Sensor readouts */
		{	// primed equipment, x and y give the location, the size defines the character size, n_bars is the number of items to show (default 1)
			selector	= "drawPrimedEquipment:";
			y_origin = -1;
			x_origin = 1;
			x = -180;
			y = 130;
			viewscreen_only = 1;
			width		= 10;
			height		= 10;
			n_bars = 3;
		},

		{
			selector = "drawSurround:";
			color = "greenColor";
			height = 96;
			width = 160;
			x		= -100;
			y		= 60;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor9";
			color_low       = "yellowColor";
			color_medium    = "yellowColor";
			color_high      = "yellowColor";
			width		= 8;
			x		= -28;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor8";
			color_low       = "cyanColor";
			color_medium    = "cyanColor";
			color_high      = "cyanColor";
			width		= 8;
			x		= -44;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor7";
			color_low       = "magentaColor";
			color_medium    = "magentaColor";
			color_high      = "magentaColor";
			width		= 8;
			x		= -60;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor6";
			color_low       = "yellowColor";
			color_medium    = "yellowColor";
			color_high      = "yellowColor";
			width		= 8;
			x		= -76;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor5";
			color_low       = "cyanColor";
			color_medium    = "cyanColor";
			color_high      = "cyanColor";
			width		= 8;
			x		= -92;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor4";
			color_low       = "magentaColor";
			color_medium    = "magentaColor";
			color_high      = "magentaColor";
			width		= 8;
			x		= -108;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor3";
			color_low       = "yellowColor";
			color_medium    = "yellowColor";
			color_high      = "yellowColor";
			width		= 8;
			x		= -124;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor2";
			color_low       = "cyanColor";
			color_medium    = "cyanColor";
			color_high      = "cyanColor";
			width		= 8;
			x		= -140;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor1";
			color_low       = "magentaColor";
			color_medium    = "magentaColor";
			color_high      = "magentaColor";
			width		= 8;
			x		= -156;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_sensor0";
			color_low       = "yellowColor";
			color_medium    = "yellowColor";
			color_high      = "yellowColor";
			width		= 8;
			x		= -172;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
		},

		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel0";
			x		= -177;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel1";
			x		= -161;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel2";
			x		= -145;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel3";
			x		= -129;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel4";
			x		= -113;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel5";
			x		= -97;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel6";
			x		= -81;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel7";
			x		= -65;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel8";
			x		= -49;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},
		{
			selector	= "drawCustomText:";
			data_source = "sotl_exp_sensorlabel9";
			x		= -33;
			y		= 12;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= 1;
			height		= 8;
			width		= 8;
		},

		/* Permanent(ish) gauges */
		{
			selector = "drawSurround:";
			color = "greenColor";
			height = 96;
			width = 96;
			viewscreen_only = 1;
			x		= 68;
			y		= 60;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawSpeedBar:";
			color_low       = "greenColor";
			color_medium    = "greenColor";
			color_high      = "yellowColor";
			width		= 8;
			x		= 28;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	
			draw_surround = no;
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_torusspeed";
			color_low       = "redColor";
			color_medium    = "redColor";
			color_high      = "redColor";
			width		= 8;
			x		= 28;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},

		{	// fuel bar
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_hyp_fuelcarried";
			color_low       = "yellowColor";
			color_medium    = "yellowColor";
			color_high      = "yellowColor";
			width		= 8;
			x		= 44;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	// fuel requirement bar
			height		= 80;
			selector	= "drawCustomBar:";
			data_source = "sotl_exp_hyp_fuelrequired";
			color_low       = "blueColor";
			color_medium    = "blueColor";
			color_high      = "blueColor";
			width		= 6;
			x		= 44;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	
			draw_surround = no;
			labelled = no;
			height		= 80;
			selector	= "drawEnergyGauge:";
			width		= 8;
			x		= 60;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	
			height		= 80;
			selector	= "drawAltitudeBar:";
			width		= 8;
			x		= 76;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	
			height		= 80;
			selector	= "drawCabinTempBar:";
			width		= 8;
			x		= 92;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	
			height		= 80;
			selector	= "drawWeaponTempBar:";
			width		= 8;
			x		= 108;
			y		= 64;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},


		{	// Targeting enhancement
			equipment_required 	= "EQ_SOTL_EXP_FLIGHTCOMPUTER";
			selector		= "drawTargetReticle:";
			// reticle_scale = 0.015625 /* 1/64 is default */
		},
		{	// Waypoint display
			equipment_required 	= "EQ_SOTL_EXP_FLIGHTCOMPUTER";
			selector		= "drawWaypoints:";
		},
		{	// status indicator light, x and y give the location, the size defines the icon size
			height		= 8;
			selector	= "drawStatusLight:";
			width		= 8;
			x		= 132;
			y		= -10;
			viewscreen_only = 1;
			x_origin	= -1;
			y_origin	= 1;
		},
		{	// scanner
//			equipment_required 	= "EQ_SOTL_EXP_FLIGHTCOMPUTER";
			alpha = 1.0;
			selector	= "drawScanner:";
			x		= 72;
			y		= -32;
			x_origin	= -1;
			y_origin	= 1;
			viewscreen_only = 1;
			height		= 48;
			width		= 128;
			rgb_color	= (0.0, 0.0, 1.0);
		},
		{	// scanner zoom indicator
			equipment_required 	= "EQ_SOTL_EXP_FLIGHTCOMPUTER";
			selector	= "drawScannerZoomIndicator:";
			x		= 10;
			y		= -10;
			viewscreen_only = 1;
			y_origin	= 1;
			x_origin	= -1;
		},
		{	// missile display, x and y give the location, the x-spacing is given by spacing, the size defines the icon size
			equipment_required 	= "EQ_SOTL_EXP_FLIGHTCOMPUTER";
			height		= 12;
			selector	= "drawMissileDisplay:";
			spacing		= 16;
			width		= 12;
			x		= 16;
			y		= -64;
			viewscreen_only = 1;
			y_origin	= 1;
			x_origin	= -1;
		},
		{	// compass
 			equipment_required 	= "EQ_SOTL_EXP_FLIGHTCOMPUTER";
			alpha		= 1.0;
			selector	= "drawCompass:";
			x		= -48;
			y		= -36;
			height = 64;
			width = 64;
			viewscreen_only = 1;
			y_origin	= 1;
			x_origin	= 1;
			rgb_color	= (0.0, 0.0, 1.0);
		},
		{	// compass beacon/waypoint ID, x and y give the location, the size defines the character size
			equipment_required 	= "EQ_SOTL_EXP_FLIGHTCOMPUTER";
			selector		= "drawASCTarget:";
			height		= 12;
			width		= 12;
			x		= -12;
			y		= -82;
			viewscreen_only = 1;
			y_origin	= 1;
			x_origin	= 1;
			align = 1;
		},

		{	// fuel scoop status
			alpha		= 0.75;
			selector	= "drawScoopStatus:";
			x		= -160;
			y		= -16;
			viewscreen_only = 1;
			y_origin	= 1;
			x_origin	= 1;
		},
		{	// ship's clock, x and y give the location, the size defines the character size
			height		= 12;
			selector	= "drawClock:";
			width		= 12;
			x		= 27;
			y		= 112;
			viewscreen_only = 1;
			y_origin	= -1;
			x_origin	= -1;
		},
		{	// weapons systems offline text, x and y give the location, the size defines the character size
			height		= 10;
			selector	= "drawWeaponsOfflineText:";
			width		= 10;
			viewscreen_only = 1;
			x		= -51;
			y		= -51;
		},


		/* TODO: reposition, add more lines to it */

		/* Debug dial */
		{	// fps counter, x and y give the location, the size defines the character size
			height		= 18;
			selector	= "drawFPSInfoCounter:";
			width		= 18;
			x		= -300;
			y		= -20;
			y_origin	= 1;
		}
	);
	
	legends		= // these are drawn, in order, before the dials, add any other images you want here
	(
		{ // gauge backing
			image = "sotl-exp-hudplate.png";
			x_origin = -1;
			y_origin = -1;
			height = 146;
			width = 136;
			x = 63;
			y = 65;
			viewscreen_only = 1;
		},
		{ // sensor backing
			image = "sotl-exp-hudplate.png";
			x_origin = 1;
			y_origin = -1;
			height = 156;
			width = 200;
			x = -95;
			y = 75;
			viewscreen_only = 1;
		},
		{ // scanner/ident backing
			image = "sotl-exp-hudplate.png";
			x		= 72;
			y		= -42;
			x_origin	= -1;
			y_origin	= 1;
			height		= 88;
			width		= 148;
			viewscreen_only = 1;
		},
		{ // MFD/compass backing
			image = "sotl-exp-hudplate.png";
			x		= -92;
			y		= -100;
			x_origin	= 1;
			y_origin	= 1;
			height		= 200;
			width		= 184;
			viewscreen_only = 1;
		},
		{ // console backing
			image = "sotl-exp-hudplate.png";
			x		= 0;
			y		= 20;
			y_origin	= -1;
			height		= 45;
			width		= 210;
			viewscreen_only = 1;
		},

		

		
		{
			text		= "SP";
			x		= 23;
			y		= 12;
			y_origin	= -1;
			x_origin	= -1;
			height		= 8;
			width		= 8;
			viewscreen_only = 1;
		},
		{
			text		= "FL";
			x		= 39;
			y		= 12;
			y_origin	= -1;
			x_origin	= -1;
			height		= 8;
			width		= 8;
			viewscreen_only = 1;
		},
		{
			text		= "CP";
			x		= 55;
			y		= 12;
			y_origin	= -1;
			x_origin	= -1;
			height		= 8;
			width		= 8;
			viewscreen_only = 1;
		},
		{
			text		= "AL";
			x		= 71;
			y		= 12;
			y_origin	= -1;
			x_origin	= -1;
			height		= 8;
			width		= 8;
			viewscreen_only = 1;
		},
		{
			text		= "CT";
			x		= 87;
			y		= 12;
			y_origin	= -1;
			x_origin	= -1;
			height		= 8;
			width		= 8;
			viewscreen_only = 1;
		},
		{
			text		= "LT";
			x		= 103;
			y		= 12;
			y_origin	= -1;
			x_origin	= -1;
			height		= 8;
			width		= 8;
			viewscreen_only = 1;
		},


	);

	multi_function_displays = (
		{
			width = 164;
			height = 100;
			x = -92;
			y = -132;
			y_origin = 1;
			x_origin = 1;
		}
	);
	message_gui = {
		width = 200;
		height = 30;
		x = 0;
		y = 20;
		y_origin = -1;
		row_height = 10;
		permanent = no;
	};
	comm_log_gui = {
		alpha = "0.75";
		width = 200;
		height = 70;
		x = 0;
		y = -35;
		y_origin = 1;
		row_height = 10;
		permanent = no;
		automatic = yes;
		background_rgba = "0.0 0.45 0.05 0.5";		
	};
	overall_alpha	= 1.0;
	reticle_target_sensitive = no;
	cloak_indicator_on_status_light = yes;
	scanner_non_linear = yes;
	scanner_ultra_zoom = yes;
}
