{
	// goods needed by Oolite core
	"alloys" = {
		name = "Wreckage";
		classes = ("sotl-exp-recyclable");
		comment = "Wreckage from severely damaged ships and structures.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 100;
		capacity = 4095;
	};

	"minerals" = {
		name = "Silicates";
		classes = ("sotl-exp-ore","sotl-exp-worthless","sotl-exp-reserves-high");
		comment = "Basic silicon/oxygen rocks. Useful for various manufacturing applications but readily available even in Max's Drift, so generally uninteresting for mineral surveys.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 200;
		capacity = 4095;
	};

	"slaves" = {
		name = "Escape Pods";
		classes = ("sotl-exp-living");
		comment = "Escape pods from abandoned ships. With no hyperspace capability and their little power capacity reserved for basic life support, it is vital that these are rescued soon after launch.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 10000;
		capacity = 4095;
	};

	// local goods
	"sotl-exp-ice" = {
		name = "Ice";
		classes = ("sotl-exp-ore","sotl-exp-common","sotl-exp-reserves-high");
		comment = "Asteroid fragments largely consisting of water-ice. The main source of water for the Max's Drift colony and similarly likely to be required in other systems for ease of supply. Intensive water recycling means that only a few of these are required to support relatively large operations.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 300;
		capacity = 4095;
	};

	"sotl-exp-iron" = {
		name = "Iron ores";
		classes = ("sotl-exp-ore","sotl-exp-common","sotl-exp-reserves-high");
		comment = "Rocks containing iron-rich ores, useful for many manufacturing purposes. Easily extracted from many asteroids, so there is no shortage in Max's Drift. Survey samples are still required to establish the feasibility of local refining operations.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 310;
		capacity = 4095;
	};

	"sotl-exp-copper" = {
		name = "Copper ores";
		classes = ("sotl-exp-ore","sotl-exp-common","sotl-exp-reserves-high");
		comment = "Rocks containing copper-rich ores, useful for many manufacturing purposes. Easily extracted from many asteroids, so there is no shortage in Max's Drift. Survey samples are still required to establish the feasibility of local refining operations.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 320;
		capacity = 4095;
	};

	"sotl-exp-aluminium" = {
		name = "Aluminium ores";
		classes = ("sotl-exp-ore","sotl-exp-common","sotl-exp-reserves-high");
		comment = "Rocks containing aluminium-rich ores, useful for many manufacturing purposes. Easily extracted from many asteroids, so there is no shortage in Max's Drift. Survey samples are still required to establish the feasibility of local refining operations.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 330;
		capacity = 4095;
	};

	"sotl-exp-titanium" = {
		name = "Titanium ores";
		classes = ("sotl-exp-ore","sotl-exp-common","sotl-exp-reserves-high");
		comment = "Rocks containing titanium-rich ores, useful for many manufacturing purposes. Easily extracted from many asteroids, so there is no shortage in Max's Drift. Survey samples are still required to establish the feasibility of local refining operations.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 340;
		capacity = 4095;
	};

	"sotl-exp-uranium" = {
		name = "Uranium ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-fuel","sotl-exp-reserves-low");
		comment = "Rocks containing uranium-rich ores, required for nuclear fission plants and the production of hyperspace fuel. While large installations, and even larger ships such as the Shaula, are able to run the more efficient fusion plants, where space is limited - on a satellite or uncrewed installation - the smaller fission plants provide a better trade-off.\n\nA small deposit is being mined on Anchor, but other sources are urgently needed.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1010;
		capacity = 4095;
	};

	"sotl-exp-platinium" = {
		name = "Platinum ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-reserves-low");
		comment = "Rocks containing platinum-rich ores, required for some chemical processes in life-support systems.\n\nThere are no known good sources of this in Max's Reach, but existing reserves are expected to be sufficient in the medium-term. Additional supplies would be required for the establishment of subsidiary settlements.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1020;
		capacity = 4095;
	};

	"sotl-exp-palladium" = {
		name = "Palladium ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-reserves-medium");
		comment = "Rocks containing palladium-rich ores, required for many electronic and chemical processes. Required for the construction of capacitor modules and other modules depending on them.\n\nCurrent reserves are expected to be adequate in the medium term but would not support significant additional ship construction.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1030;
		capacity = 4095;
	};

	"sotl-exp-gold" = {
		name = "Gold ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-reserves-high");
		comment = "Rocks containing gold-rich ores, required for many electronic and chemical processes. Required for the construction of satellites and atmospheric probes to shield sensitive components from the local star.\n\nDue to its utility a significant amount of this metal was brought on board the Local Maximum and is not expected to be used up soon.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1040;
		capacity = 4095;
	};

	"sotl-exp-iridium" = {
		name = "Iridium ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-reserves-medium");
		comment = "Rocks containing iridium-rich ores, required for many chemical processes and for some manufacturing where strong thermal resistance is required. Many modules require some iridium in their construction.\n\nWhile rare on planetary surfaces it is relatively common in asteroids and there is currently sufficient supply in Max's Reach.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1050;
		capacity = 4095;
	};

	"sotl-exp-rhodium" = {
		name = "Rhodium ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-reserves-verylow");
		comment = "Rocks containing rhodium-rich ores. Rhodium is required in the construction of fission power plants and many optical sensor units.\n\nSupplies of this element in Max's Reach are extremely low.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1060;
		capacity = 4095;
	};

	"sotl-exp-tellurium" = {
		name = "Tellurium ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-reserves-medium");
		comment = "Rocks containing tellurium-rich ores. Tellurium is used in many industrial alloys, and is also used in the production of solar cells for powering satellites and installations near a star.\n\nSignificant sources have been found on Stray and so local supplies are currently sufficient.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1070;
		capacity = 4095;
	};

	"sotl-exp-indium" = {
		name = "Indium ores";
		classes = ("sotl-exp-ore","sotl-exp-rare","sotl-exp-reserves-verylow");
		comment = "Rocks containing indium-rich ores. Indium has a number of electronic and manufacturing uses, and is necessary for the construction of fission power plants.\n\nReserves of this element in Max's Reach are very low.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1080;
		capacity = 4095;
	};

	"sotl-exp-rhenium" = {
		name = "Rhenium ores";
		classes = ("sotl-exp-ore","sotl-exp-veryrare","sotl-exp-reserves-none");
		comment = "Rocks containing rhenium-rich ores. Even small quantities of rhenium would allow the construction of more resilient alloys with a wide range of manufacturing uses.\n\nAll rhenium reserves in the Max's Reach colony have been used already and no known sources have been found in the system.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1200;
		capacity = 4095;
	};

	"sotl-exp-ruthenium" = {
		name = "Ruthenium ores";
		classes = ("sotl-exp-ore","sotl-exp-veryrare","sotl-exp-reserves-verylow");
		comment = "Rocks containing ruthenium-rich ores. Ruthenium has a wide range of electronic applications, most significantly in the production of solar cells for powering satellites and installations near a star.\n\nReserves of this are currently very low.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1210;
		capacity = 4095;
	};

	"sotl-exp-osmium" = {
		name = "Osmium ores";
		classes = ("sotl-exp-ore","sotl-exp-extremelyrare","sotl-exp-reserves-low");
		comment = "Rocks containing osmium-rich ores. Osmium is extremely rarely occuring and has relatively few industrial uses. However, it is - in trace amounts - an essential component of hyperspace fuel.\n\nThe Max's Reach colony currently has sufficient reserves of osmium to fuel several hundred jumps, but the discovery of additional deposits will be necessary for prolonged missions.";
		market_script = "sotl-exp-tradegoods.js";
		sort_order = 1220;
		capacity = 4095;
	};

}
