(
	/* First stage: as this scenario excludes the primary
     * world-scripts.plist file to get rid of the core missions, bring
     * back in the core worldscripts which are still needed. */

    /* AI Construction libraries */
    "oolite-priorityai.js",

    /* Interfaces */
    "oolite-primable-equipment-manager.js",
    "oolite-registership.js", // for now

	/* Second stage: include SOTL Exploration scripts */
	"sotl-exp-hyperspace.js",
	"sotl-exp-populator.js",
	"sotl-exp-equipment.js",
	"sotl-exp-discovery.js",
	"sotl-exp-hud.js",
	"sotl-exp-ranrot.js",
	"sotl-exp-economy.js"
)