(
	(
		1, 1, "Combat Computer",
		"EQ_SOTW_COMBAT_COMPUTER",
		"Electronics covering combat-oriented systems, including target tracking, analysis, and locking.",
		{
			available_to_all = true;
			condition_script = "sotw-conditions.js";
			provides = ("EQ_SCANNER_SHOW_MISSILE_TARGET","EQ_MULTI_TARGET","EQ_TARGET_MEMORY","EQ_INTEGRATED_TARGETING_SYSTEM");
		}
	)

)
