{
	"sotw-kodiak-player" = {
		chance = 0.5;
		optional_equipment = ();
		price = 100000;
		"standard_equipment" =
		{
			extras = "";
			"forward_weapon_type" = "EQ_WEAPON_NONE";
			missiles = 0;
		};
		techlevel = 6;
		"weapon_facings" = 15;
	};

	"sotw-lena-player" = {
		chance = 0.5;
		optional_equipment = ();
		price = 75000;
		"standard_equipment" =
		{
			extras = "";
			"forward_weapon_type" = "EQ_WEAPON_NONE";
			missiles = 0;
		};
		techlevel = 3;
		"weapon_facings" = 3;
	};

	"sotw-firangi-player" = {
		chance = 0.5;
		optional_equipment = ();
		price = 20000;
		"standard_equipment" =
		{
			extras = "";
			"forward_weapon_type" = "EQ_WEAPON_NONE";
			missiles = 0;
		};
		techlevel = 3;
		"weapon_facings" = 3;
	};


	"sotw-charolais-player" = {
		chance = 0.5;
		optional_equipment = ();
		price = 300000;
		"standard_equipment" =
		{
			extras = "";
			"forward_weapon_type" = "EQ_WEAPON_NONE";
			missiles = 0;
		};
		techlevel = 4;
		"weapon_facings" = 3;
	};

}