{
	allow_big_gui = 1;
	dials = (
		{ // DES use
			selector = "drawCustomBar:";
			data_source = "sotw_desuse_bar";
			x_origin = -1;
			y_origin = 0;
			x = 16;
			y = -184;
			color_low = "greenColor";
			color_medium = "greenColor";
			color_high = "yellowColor";
			color_surround = "0.2 0.2 0.2";
			draw_surround = 1;
			width = 16;
			height = 88;
		},
		{ // ES use
			selector = "drawCustomBar:";
			data_source = "sotw_esuse_bar";
			x_origin = -1;
			y_origin = 0;
			x = 16;
			y = 64;
			color_low = "greenColor";
			color_medium = "greenColor";
			color_high = "yellowColor";
			color_surround = "0.2 0.2 0.2";
			draw_surround = 1;
			width = 16;
			height = 352;
		},
		{ // Speed
			selector = "drawCustomText:";
			data_source = "sotw_maxspeed_str";
			x_origin = 1;
			y_origin = 0;
			x = -56;
			y = 212;
			height = 12;
			width = 12;
			color = "greenColor";
		},
		{ // Turn
			selector = "drawCustomText:";
			data_source = "sotw_maxturn_str";
			x_origin = 1;
			y_origin = 0;
			x = -56;
			y = 184;
			height = 12;
			width = 12;
			color = "greenColor";
		},
		{ // F Shield
			selector = "drawCustomText:";
			data_source = "sotw_maxfshield_str";
			x_origin = 1;
			y_origin = 0;
			x = -56;
			y = 152;
			height = 12;
			width = 12;
			color = "greenColor";
		},
		{ // A Shield
			selector = "drawCustomText:";
			data_source = "sotw_maxashield_str";
			x_origin = 1;
			y_origin = 0;
			x = -56;
			y = 52;
			height = 12;
			width = 12;
			color = "greenColor";
		},
		{ // Shield bias
			selector = "drawCustomIndicator:";
			data_source = "sotw_shieldbias_ind";
			x_origin = 1;
			y_origin = 0;
			x = -40;
			y = 116;
			height = 64;
			width = 8;
			color = "0.2 0.8 0.2";
			color_surround = "0.2 0.2 0.2";
			draw_surround = 1;
		},
		{ // Generator
			selector = "drawCustomText:";
			data_source = "sotw_genpower_str";
			x_origin = 1;
			y_origin = 0;
			x = -56;
			y = 20;
			height = 12;
			width = 12;
			color = "greenColor";
		},
		{ // Capacitor
			selector = "drawCustomText:";
			data_source = "sotw_cappower_str";
			x_origin = 1;
			y_origin = 0;
			x = -56;
			y = -12;
			height = 12;
			width = 12;
			color = "greenColor";
		},
		{ // Energy bias
			selector = "drawCustomIndicator:";
			data_source = "sotw_genspare_ind";
			x_origin = -1;
			y_origin = 0;
			x = 48;
			y = -184;
			height = 88;
			width = 8;
			color = "0.2 0.8 0.2";
			color_surround = "0.2 0.2 0.2";
			draw_surround = 1;
		},
		{ // Witchdrive
			selector = "drawCustomLight:";
			data_source = "sotw_witchdrive_light";
			x_origin = 1;
			y_origin = 0;
			x = -42;
			y = -36;
			height = 8;
			width = 8;
		},
		{ // Galdrive
			selector = "drawCustomLight:";
			data_source = "sotw_galdrive_light";
			x_origin = 1;
			y_origin = 0;
			x = -14;
			y = -36;
			height = 8;
			width = 8;
		},
		{ // Fuel bar
			selector = "drawFuelBar:";
			x_origin = 1;
			y_origin = 0;
			x = -32;
			y = -52;
			width = 40;
			height = 12;
			draw_surround = 1;
			color_surround = "0.2 0.2 0.2";
			color_low = "0.8 0.0 0.0"; // insufficient fuel
			color_medium = "0.0 0.5 0.0"; // bar
			color_high = "0.0 0.8 0.0"; // sufficient fuel
		}
	);
	legends = (
		{
			text = "DES";
			x_origin = -1;
			y_origin = 0;
			x = 4;
			y = -244;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "GEN";
			x_origin = -1;
			y_origin = 0;
			x = 36;
			y = -244;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "ES";
			x_origin = -1;
			y_origin = 0;
			x = 8;
			y = -128;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "Max Speed";
			x_origin = 1;
			y_origin = 0;
			x = -60;
			y = 224;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "Max Turn";
			x_origin = 1;
			y_origin = 0;
			x = -60;
			y = 196;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "F.Shield";
			x_origin = 1;
			y_origin = 0;
			x = -60;
			y = 164;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "A.Shield";
			x_origin = 1;
			y_origin = 0;
			x = -60;
			y = 64;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "Generation";
			x_origin = 1;
			y_origin = 0;
			x = -60;
			y = 32;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "Capacitors";
			x_origin = 1;
			y_origin = 0;
			x = -60;
			y = 0;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "Witchdrive";
			x_origin = 1;
			y_origin = 0;
			x = -60;
			y = -32;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "S";
			x_origin = 1;
			y_origin = 0;
			x = -56;
			y = -44;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		},
		{
			text = "CC";
			x_origin = 1;
			y_origin = 0;
			x = -36;
			y = -44;
			height = 12;
			width = 12;
			color = "0.2 0.8 0.2";
		}
		
	);
	multi_function_displays = (
		// never shown, just preserves MFD settings from main HUD
		{
			width = 198;
			height = 132;
			x = -156;
			y = -72;
			y_origin = 1;
		},
		{
			width = 198;
			height = 132;
			x = 156;
			y = -72;
			y_origin = 1;
		}
	);
	overall_alpha = 1.0;
}