{
	"identifier" = "oolite.oxp.cim.sotw.scenario";
	"required_oolite_version" = "1.81";
	"title" = "Song of the Witch (starting positions)";
	"version" = "0.1";
	"category" = "Systems";
	"description" = "The starting positions for the Song of the Witch OXP.";
	"author" = "cim";
	"license" = "CC-BY-SA 4.0";
}